<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ketako.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <Ketako.My.MySettings>
            <setting name="caption1" serializeAs="String">
                <value>Ketako will trash your computer :D</value>
            </setting>
            <setting name="caption2" serializeAs="String">
                <value>If you don't find the exit, i will trash it :D</value>
            </setting>
            <setting name="destructivemodeenabled" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="rainbowmode" serializeAs="String">
                <value>No</value>
            </setting>
        </Ketako.My.MySettings>
    </userSettings>
</configuration>